<app-country-details #countryDetails (submit)="processSubmit($event)"></app-country-details>


<div class="row">
		<div class="col-12">
			<table class="table table-bordered table-sm table-hover">
				<thead class="countriesthead">
					<tr>
						<th>CountryName</th>
						<th>Population</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let country of countries">
						<td>
						{{country.countryName}}</td>
						<td>{{country.population}}</td>
						<td>
							<button class="btn btn-info btn-sm"
								(click)="updateCountry(country, country.id)">Edit</button> |
							<button class="btn btn-danger btn-sm"
								(click)="deleteCountry(country)">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
