<div class="row">
	<div class="col-12">
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
			<table class="table table-bordered table-sm table-hover">
				<thead class="countriesthead">
					<tr>
						<th colspan="2">Add/Edit country</th>
					</tr>
				</thead>
				<tbody>
					<tr class="form-group">
				
					
						<td><label for="countryName">Country</label>
						<input type="hidden" formControlName="id"
							 class="form-control">
						</td>
						<td>
							<input type="text" formControlName="countryName"
							placeholder="Country Name" class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.countryName.errors }" />
							<div *ngIf="submitted && f.countryName.errors"
								class="invalid-feedback">
								<div *ngIf="f.countryName.errors.required">Country Name is
									required</div>
							</div></td>
					</tr>
					<tr class="form-group">
						<td><label for="population">Population</label></td>
						<td><input type="text" formControlName="population"
							class="form-control" placeholder="population"
							[ngClass]="{ 'is-invalid': submitted && f.population.errors }" />
							<div *ngIf="submitted && f.population.errors"
								class="invalid-feedback">
								<div *ngIf="f.population.errors.required">Population is
									required</div>
								<div *ngIf="f.population.errors.pattern">Population should be a
									number</div>
							</div></td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="btn btn-info btn-sm">Submit</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>