.countriesthead{
	background-color: blue;
	color:white;
}

header {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.title-icon {
	display:in-line;
	padding-right:1rem;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}