<div class="container">
	<div class="row">
		<header class="col-xs-12">
			<h1 class="title"><span class="title-icon"><fa-icon [icon]="faGlobe"></fa-icon></span>World Countries Population</h1>
		</header>
	</div>
</div>

<div class="container">
	
	<app-country-list></app-country-list>
	
	
</div>